<mat-toolbar class="header">
  <div class="header_logo_text">
    <img
      class="header_logo"
      src="../../assets/images/ush-logo.png"
      alt="Ushahidi Logo"
    />
    <img
      class="header_text"
      src="../../assets/images/ushahidi-text.png"
      alt="Ushahidi Text Image"
    />
  </div>
  <span class="header_title"> Mzima Accessibility Checker</span>
  <a
    class="header_github_link"
    aria-label="Mzima Accessibility Checker Github Repository"
    href="https://github/MugoBrian/mzima-a11y-checker"
  >
    <mat-icon class="header_title_github" svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>
