<mat-card class="mat-card">
  <mat-card-header class="mat-card-header">{{ result.id }}</mat-card-header>
  <mat-card-title class="mat-card-title">
    {{ result.description }}
    <a
      href="{{ result.helpUrl }}"
      target="_blank"
      color="accent"
      aria-label="helpUrl"
      ><mat-icon>link</mat-icon></a
    >
  </mat-card-title>
  <mat-card-content>
    <mat-chip disabled class="mat-card-chip">{{ result.impact }}</mat-chip>
    <ng-container *ngIf="result.nodes.length > 0">
      <ng-container *ngFor="let node of result.nodes">
        <mat-expansion-panel class="mat-card-expansion">
          <mat-expansion-panel-header class="mat-card-expansion-header">
            <mat-panel-title class="mat-card-expansion-header">
              <pre>{{ node.html }}</pre>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description class="mat-card-expansion-description">
            {{ node.html }} <br>
            {{ node.failureSummary }}
            <p>{{ node.target[0] }}</p>
          </mat-panel-description>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
