.h2 {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.mat-card {
  margin-bottom: 8px;
  padding: 16px;
  background-color: var(--color-black-tint);

  &-title {
    color: var(--color-accent);
    margin-left: 15px;
  }
}
.mat-card-chip {
  background-color: var(--color-accent);
  color: var(--color-accent);
}

.mat-card-expansion {
  margin: 4px;
  margin-bottom: 8px;
  &-description,
  pre {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color-black-shade);
  }
}

pre {
  word-wrap: break-word;
  width: 50%;
}
