<form [formGroup]="codeTestingForm" (ngSubmit)="runTest()">
  <div class="form-row">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Your Code</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10"
        formControlName="codeInput"
        placeholder="Paste your code or url here"
      >
      </textarea>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Select Engine</mat-label>
      <mat-select
      formControlName="tool"
      (ngModel)="(selectedEngine)"
      name="engine"
      >
      <mat-option
      *ngFor="let engine of engines; let i = index"
      [value]="engine"
      >
      {{ engine }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div class="run">
  <button id="run_button" class="run_button">
    Run Checker
    <mat-icon
    class="run_button_icon"
    svgIcon="checker"
    aria-labelledBy="#run_button"
    ></mat-icon>
  </button>
</div>
</form>
<div #codeContainer></div>
