// Colors

:root {
  --neutral-black: #181b21;
  --neutral-dark: #23282f;
  --neutral-light: #383e45;
  --neutral-white: #ffffff;
  --neutral-10: #f5f5f5;
  --neutral-20: #e9e9ea;
  --netural-30: #e2e2e3;

  //Primary

  --primary-color-60: #ffc235;

  // accent
  --color-accent: #962923;
}
