.header_title {
  display: none;
  @media screen and (max-width: 720px) {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }
}
