

.tab_content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid var(--neutral-20);
  height: 100%;
  background: var(--neutral-white);
}

.grid-container{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  gap:3px;
  background-color: var(--primary-color-60);
}
.checker-data{
  height: 85%;
  margin-top:5px;
  margin-right: 5px;
  border-radius: 4px;
  background-color: var(--neutral-10);
}
.grid-item{
  // background: var(--primary-color-60);
  padding: 20px;
  border-radius: 4px;
}
