<div class="checker-data" *ngIf="!isLoading; else spinner">
  <h3
    color="warn"
    class="error-message spinner"
    *ngIf="error || (isLoading && results)"
  >
    <mat-icon matSuffix>error_outline</mat-icon>
    {{ error }}
  </h3>

  <ng-container *ngIf="results.violations === [] || error === ''">
    <h2 class="h2">Accessibility Violations</h2>
    <ng-container *ngFor="let result of results.violations">
      <checker-card class="checker-card" [result]="result"></checker-card>
    </ng-container>
  </ng-container>
</div>

<ng-template #spinner>
  <div class="spinner">
    <h3 class="spinnner_title">Kindly Be Patient As We Process Your Request</h3>
    <mat-spinner class="spinner_bar" color="custom"></mat-spinner>
  </div>
</ng-template>
