.checker-data{
    // background: red;
    // display: flex;
    // position:absolute;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 10%;
}

.mat-spinner.mat-custom{
    color:var(--primary-color-60)
}