.checker-data {
  // background: red;
  // display: flex;
  // position:absolute;
}

/* error-styles.css */
.error-message {
  color: var(--color-accent);
  font-weight: bold;
  margin-top: 5px;
  opacity: 50;
  transition: opacity 0.1s ease;
}

.show-error {
  opacity: 1;
}

.spinner {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.mat-spinner.mat-custom {
  color: var(--primary-color-60);
}
