/* You can add global styles to this file, and also import other style files */
@import 'styles/_pallete';
@import 'styles/_theme';

// html,
// body {
//   height: 100%;
// }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined{
  background-color: red !important;
}
